<section class="resume-section" id="about">
  <div class="my-auto resume-content">
    <div class="resume-item">
      <h1 class="my-0">Hi, I'm Sarah.</h1>
    </div>
    <div>
      {{ .Content }}
      <a href="/about">Read more about me</a> or <a href="http://resume.madysondesigns.com" target="blank">Download my full resume</a>
      <ul class="list-inline list-social-icons mb-0 mt-4">
        {{ range .Site.Params.handles }}
        <li class="list-inline-item">
          <a href="{{ .link }}" title="{{ .name }}" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa {{ if .icon}}fa-{{ .icon }}{{ else }}fa-{{ lower .name }}{{ end }} fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>
