<section class="resume-section" id="case-studies">
  <div class="my-auto resume-content" id="projects-content">
    <h2 class="mb-5">Case Studies</h2>
    <p>Here are a few examples of how I approach design and product challenges.</p>
    {%- for page in site.case-studies -%}
      <h3 class="mt-5"><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h3>
      <div class="resume-item">
        <div class="case-study-photo mr-4">
          <!-- {{with .Params.image }} -->
          <img src="{{ page.image }}" style="max-height:150px;max-width:150px;" />
          <!-- {{ end }} -->
        </div>
        <div class="case-study-excerpt">
          <p>{{ page.description | safeHTML }}
          <p>
          <p class><a href="{{ page.url | relative_url }}">Read more...</a></p>
        </div>
      </div>
      {%- include tags.html -%}
    {%- endfor -%}
  </div>
</section>
