<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
  <a class="navbar-brand js-scroll-trigger" href="/">
    <div class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ site.data.personal.profileImage }}?s=400" alt="">
    </div>
    <h1 class="d-block nav-name">{{ site.data.personal.name | escape }}</h1>
    <div class="d-none d-lg-block nav-location">{{ site.data.personal.tagline }}</div>
    <div class="d-none d-lg-block nav-location">{{ site.data.personal.location }}</div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav list-unstyled">
      {%- for link in site.data.nav -%}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/#{{ link.id }}">{{ link.label }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</nav>
