<section class="resume-section" id="education">
  <div class="my-auto resume-content">
    <h2 class="mb-5">Education</h2>
    {%- for education in site.data.education -%}
    <div class="resume-item">
      <div class="resume-content mr-auto">
        <h4 class="mt-0">{{ education.school }}</h4>
        <h3 class="my-0">{{ education.degree }}</h3>
        <p>{{ education.major }}</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">{{ education.range }}</span>
      </div>
    </div>
    {%- endfor -%}
  </div>
</section>
