---
layout: default
---

<section class="resume-section d-flex d-column" id="{{ page.title }}">
  <div class="my-auto content">
    <h1 class="mb-0">{{ page.title }}</h1>
    <p>These case studies show projects I'm proud of and talk about how I approach design and product challenges.</p>
    {%- assign pages = site.case-studies -%}
    {%- for page in pages reversed -%}
      <h3 class="mt-5"><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h3>
      <div class="resume-item">
        <div class="case-study-photo mr-4">
          <img src="/assets/images/{{ page.imageFolder }}{{ page.thumbnail }}" style="max-height:150px;max-width:150px;" />
        </div>
        <div class="case-study-excerpt">
          <p>{{ page.description }}</p>
          <p><a class="more-link" href="{{ page.url | relative_url }}">Read more...</a></p>
        </div>
      </div>
      {%- include tags.html -%}
    {%- endfor -%}
  </div>
</section>
