<p>Here some recent examples of how I approach design and product challenges.</p>
<p><a class="more-link" href="/case-studies/">See all Case Studies</a></p>
{%- assign pages = site.case-studies | where: "featured", "true" -%}
{%- for page in pages reversed -%}
  <h3 class="mt-5"><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h3>
  <div class="resume-item">
    <div class="case-study-photo mr-4">
      {% assign image-src = page.image-folder | append: "/" | default: "" | append: page.thumbnail %}
      <img src="{{ site.image_path | append: image-src }}" style="max-height:150px;max-width:150px;" />
    </div>
    <div class="case-study-excerpt">
      <p>{{ page.description }}</p>
      <p><a class="more-link" href="{{ page.url | relative_url }}">Read more...</a></p>
    </div>
  </div>
  {%- include tags.html -%}
{%- endfor -%}
